@charset "utf-8";

/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #751217;
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-style: normal;
    font-weight: 400;    
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* ここまで */


/* ヘッダー */
header {
    background: url("../JPG/pc_first@2x-100.jpg") center center / cover no-repeat;
    height: 100vh;
    /* width: auto; */
  }

.header_wrap {
    display: flex;
    max-width: 1920px;
    height: 100px;
    /* padding-top: 30px;
    padding-bottom: 48px; */
    font-size: 21px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.2);
    z-index: 100;
}

.logo {
    width: 200px;
    padding-left: 100px;
    padding-top: 15px;
}

.pc_nav ul {
    display: flex;
}

.pc_nav ul li {
    color: #fff;
    margin-right: 100px;
}

.pc_nav li:last-child {
    margin-right: 0;
}

.sns {
    padding-right: 100px;
}

.sns ul {
    display: flex;
    gap: 30px
}

.my-gray {
    color: #fff;
    font-size: 1.3em
}

.name {
    transform-origin: top left;
    font-size: 38px;
    color: #fff;
    letter-spacing: 0.15em;
    transform: rotate(90deg);
    display: inline-block;
    position: absolute;
    top: 150px;
    left: 260px;
}

.biglogo {
    width: 500px;
    padding-top: 120px;
}

.heart {
    text-align: center;
}



/* コンセプト */
.concept_section {
    width: 100%;
    background-color: #f4e3e1;
    margin-bottom: 120px;
}

.concept {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    /* margin-top: -135px; */
}

.myself {
    width: 400px;
    padding-bottom: 65px;
    margin-top: -150px;
}

.concept_title{
    font-size: 48px;
    line-height: 1.25;
    letter-spacing: 0.05em;
    margin-top: -150px;
}

.message {
    font-size: 18px;
    line-height: 2.111;
    letter-spacing: 0.05em;
    padding-top: 70px;
}

.concept_text {
    width: 50%;
    padding-left: 120px;
}



/* 実績見出し */
.decoration_box {
    width: calc(calc(100% - 1160px) / 2);
    height: 10px;
    background-color: #f2d6d1;
}

.works_img {
    width: 180px;
    margin-top: 30px;
    margin-left: 10px;
}

.works_title {
    font-size: 24px;
    padding-left: 10px;
}

.works_index {
    display: flex;
    align-items: center;
}



/* サービス見出し */
.decoration_box {
    width: calc(calc(100% - 1160px) / 2);
    height: 10px;
    background-color: #f2d6d1;
}

.service_img {
    width: 218px;
    margin-top: 30px;
    margin-left: 10px;
}

.service_title {
    font-size: 24px;
    padding-left: 10px;
}

.service_index {
    display: flex;
    align-items: center;
    margin-top: 120px;
}


/* サービス */

/* WEB制作 */
.web_img {
    width: 50%;
    position: relative;
}

.index_number {
    font-size: 90px;
    opacity:0.3;
}

.web_h3 {
    font-size: 30px;
    margin-top: 20px;
    font-weight: bold;
    padding-left: 20px;
    letter-spacing: 0.1em;
}

.web_text {
    font-size: 18px;
    line-height: 2;
    padding: 60px;
}

.web_detail {
    width: 50%;
    height: 400px;
    background-color: #f4e3e1;
    margin-top: 40px;
    margin-left: -20px;
}

.web {
    width: 1070px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 80px;
}

.web_index {
    display: flex;
    margin-left: 50px;
    margin-top: -40px;
}


/* グラフィックデザイン */
.graphic_img {
    width: 50%;
    position: relative;
}


.graphic_h3 {
    font-size: 30px;
    margin-top: 20px;
    font-weight: bold;
    padding-left: 20px;
    letter-spacing: 0.1em;
}

.graphic_text {
    font-size: 18px;
    line-height: 2;
    padding: 60px;
}

.graphic_detail {
    width: 50%;
    height: 400px;
    background-color: #f4e3e1;
    margin-top: 40px;
    /* margin-left: -20px; */
}

.graphic {
    width: 1070px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 80px;
}

.graphic_index {
    display: flex;
    margin-left: 50px;
    margin-top: -40px;
}


/* アザー */
.other_img {
    width: 50%;
    position: relative;
}

.other_number {
    font-size: 90px;
    opacity:0.3;
}

.other_h3 {
    font-size: 30px;
    margin-top: 20px;
    font-weight: bold;
    padding-left: 20px;
    letter-spacing: 0.1em;
}

.other_text {
    font-size: 18px;
    line-height: 2;
    padding: 60px;
}

.other_detail {
    width: 50%;
    height: 400px;
    background-color: #f4e3e1;
    margin-top: 40px;
    margin-left: -20px;
}

.other {
    width: 1070px;
    margin: 0 auto;
    display: flex;
}

.other_index {
    display: flex;
    margin-left: 50px;
    margin-top: -40px;
}



/* アバウト見出し */
.decoration_box {
    width: calc(calc(100% - 1160px) / 2);
    height: 10px;
    background-color: #f2d6d1;
}

.about_img {
    width: 180px;
    margin-top: 30px;
    margin-left: 10px;
}

.about_title {
    font-size: 24px;
    padding-left: 10px;
}

.about_index {
    display: flex;
    align-items: center;
    margin-top: 120px;
}


/* アバウト */

.about_section {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: -50px;
}

.myname {
    font-size: 80px;
}

.name_sub {
    font-size: 21px;
}


.about_face_img {
     padding-left: 10%;
     width: 40%;
}

.about_info_area {
    /* max-width: 1015px; */
    display: flex;
    /* margin: 0 auto; */
}

.name_text_area {
    width: 50%;
}


/* アバウトの下のテキスト */

.about_text1 {
    width: 450px;
    margin-left: 20px;
    margin-right: 90px;
    line-height: 1.89;
}

.about_text2 {
    width: 450px;
    line-height: 1.89;
}

.abouttext {
    /* max-width: 1015px; */
    /* margin: 0 auto; */
    display: flex;
    margin-top: -48px;
}

/* .about_face_img {
    padding-left: 230px;
} */

.myname {
    letter-spacing: 0.075em;
    padding-top: 120px;
    padding-bottom: 30px;
}

.name_sub {
    font-size: 21px;
    background-color: #e2a498;
    color: #fff;
    width: 350px;
    height: 30px;
    border-radius: 20px;
    padding-top: 9px;
    padding-left: 38px;
}

/* SNSフォローミー */

.followme_img {
    width: 172px;
    margin: 0 auto;
    display: block;
    padding-top: 45px;
}

.sns_link {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 120px;
}

.my-pink {
    color: coral;
    font-size: 2em
}

.my-blue {
    color: deepskyblue;
    font-size: 2em
}



/* コンタクト見出し */
.decoration_box {
    width: calc(calc(100% - 1160px) / 2);
    height: 10px;
    background-color: #f2d6d1;
}

.contact_img {
    width: 230px;
    margin-top: 30px;
    margin-left: 10px;
}

.contact_title {
    font-size: 24px;
    padding-left: 10px;
}

.contact_index {
    display: flex;
    align-items: center;
}


/* コンタクトセクション */
.contact_text {
    font-size: 18px;
    line-height: 1.77;
    color: #000;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 75px;
}

.contact_wrap {
    max-width: 1160px;
    height: 880px;
    margin: 0 auto;
    background-color: #e6e6e6;
}

.contact_list li{
    font-size: 18px;
    color: #000;
    padding-bottom: 90px;
}

/* ______ */

form {
    width: 600px;
    margin: 0 auto;
}

input[type="text"],
input[type="email"],
select,
textarea {
    border: 1px solid #ccc;
    background-color: #fff;
    width: 100%;
    margin-top: 10px;
    padding: 4px 8px;
    box-sizing: border-box;
}

textarea {
    height: 148px;
    margin-bottom: 30px;
}
form > p {
    font-size: 16px;
    color: #000;
    line-height: 1.4;
    margin-bottom: 40px;
}

.submitBtn {
    text-align: center;
}
input[type="submit"] {
    background-color: #f2d6d1;
    width: 180px;
    height: 40px;
    border-radius: 5px;
    border: none;
}



/* フッター */

footer {
    max-width: 100%;
    height: 300px;
    margin-top: 120px;
    background-color: #f4e3e1;
}

.footerlogo_img {
    width: 360px;
}

.footerlogo {
    text-align: center;
    padding-top: 40px;
}

.copyright {
    font-size: 18px;
    color: #4d4d4d;
    text-align: center;
    padding-bottom: 55px;
}